<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>

  <body>
    <div class="container">
      <h1>
        <%= heading %>
      </h1>

      <% if (locals.product) { %>
      <form id="editForm" method="post" action="/api/products/<%=product.id%>">
        <input type="text" name="name" value="<%=product.name %>" />
        <textarea name="description" rows="10">
<%=product.description %></textarea
        >
        <input type="text" name="price" value="<%=product.price %>" />
        <input type="text" name="quantity" value="<%=product.quantity %>" />
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
      <% } else {%>
      <form id="newPostForm" method="post" action="/api/products">
        <input type="text" name="name" placeholder="Product Name" required />
        <textarea
          name="description"
          placeholder="Description"
          required
          rows="10"
        ></textarea>
        <input type="text" name="price" placeholder="Price" required />
        <input type="text" name="quantity" placeholder="Quantity" required />
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
      <% } %>
    </div>
  </body>
</html>
