<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Inventory</title>
  </head>
  <body>
    <div class="container">
      <h1>User Management</h1>
      <a id="newPostBtn" href="/new-user">New User</a>
      <ul id="postsList">
        <% users.forEach(user=> { %>
        <li>
          <h2>
            <%=user.name%>
          </h2>
          <small>
            Username:<%=user.username %>
          </small>
          <small>Email: <%=user.email%></small>
          <a class="edit" href="/edit-user/<%= user.id %>">Edit Profile</a>
          <a class="delete" href="/delete-user/<%= user.id %>">Delete</a>
        </li>
        <% }); %>
      </ul>
    </div>

    <div class="container">
      <h1>My Inventory</h1>
      <a id="newPostBtn" href="/new">New Product</a>
      <ul id="postsList">
        <% products.forEach(product => { %>
        <li>
          <h2><%= product.name %></h2>
          <small><%= product.date %></small>
          <p><%= product.description %></p>
          <small>Price: <%= product.price %> $</small>
          <small>Quantity: <%= product.quantity %></small>
          <div>
            <!-- Display reviews for this product -->
            <% reviews.forEach(review => { %> <% if (review.id === product.id) {
            %>
            <p>Review: <%= review.comments %></p>
            <small>Rating: <%= review.rating %> Stars</small>
            <% } %> <% }); %>
          </div>
          <a class="edit" href="/edit/<%= product.id %>">Edit</a>
          <a class="delete" href="/api/products/delete/<%= product.id %>"
            >Delete</a
          >
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
